server:
  port: 8080

spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

  datasource:
    url: jdbc:h2:file:./data/mtsdb;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: samyukthajagannath@gmail.com
    password: yjxq yqrf ctwl fruh
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    com.company.mts: DEBUG
    org.hibernate.SQL: DEBUG

snowflake:
  url: jdbc:snowflake://wyxvypk-qh82260.snowflakecomputing.com
  user: SAMYUKTHAJ04
  password: Samyuktha1603$
  role: accountadmin
  warehouse: COMPUTE_WH
  database: MONEY_TRANSFER_DW
  schema: ANALYTICS