server:
  port: 8080

spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

  datasource:
    url: jdbc:mysql://localhost:3306/money_transfer_system
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: Root123$

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: samyukthajagannath@gmail.com
    password: yjxq yqrf ctwl fruh
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    com.company.mts: DEBUG
    org.hibernate.SQL: DEBUG