server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/money_transfer_system
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: Root123$

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: samyukthajagannath@gmail.com
    password: yjxq yqrf ctwl fruh
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    com.company.mts: DEBUG
    org.hibernate.SQL: DEBUG

# JWT Configuration
jwt:
  secret: mySecretKeyForJWTTokenGenerationAndValidationInMoneyTransferSystemApplication
  expiration: 86400000  # 24 hours in milliseconds
